@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}

.logo {
  color: #29b1dd;
  font-family: "Lobster", cursive;
  padding: 0.5rem 2rem;
}

.filter-section {
  background-color: #29b1dd;
  text-align: center;
  color: white;
  padding: 1rem;
}

main {
  flex: 1 0 100%;
  background-color: #dddddd;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.card {
  padding: 1rem 2rem;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

.card > i {
  font-size: 5rem;
  padding-bottom: 0.5rem;
}
